body{
  background-color: #ffff99;
}
.tic-tac-toe-title{
  text-align: center;
}
.row{
  display: flex;
  justify-content: center;
}
.box{
background-color: white;
border: 1px solid rgb(180, 180, 5);
height: 80px;
width: 80px;
cursor: pointer;

}
.box:hover{
 box-shadow: 2px 5px 20px 2px rgb(204, 204, 95); 
  z-index: 100;
  transition: 0.5s;
}
.container{
  display: block;
  margin: 10px auto;
  background-color: #666633;
  width: fit-content;
  padding: 30px;
  border-radius: 5px;
}
